<!DOCTYPE HTML>
<html itemscope itemtype="http://schema.org/Product" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milli</title>
    <link rel="icon" type="image/png" href="favicon.png">

    <!-- JQuery -->
    <!-- not async to make sure it loads before all the other things that depend on it -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->

    <!-- Font -->
    <link href="fonts/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,400' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->

    <!-- Lollyt.in's css -->
    <link href="css/lollies.min.css" rel="stylesheet">
    <link href="css/custom.css"      rel="stylesheet">

    <!-- your own custom css -->
    <link type="text/css" rel="stylesheet" href="css/note.css">

    <!-- snippets go here -->

    <!--[if lt IE 9]>
      <script src="js/html5shiv-3.7.0.js"></script>
      <script src="js/respond-1.4.2.js"></script>
    <![endif]-->

    <!-- GA script goes here -->
</head>